
{% import "bootstrap/wtf.html" as wtf%}
<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='exporting.js') }}"></script>
<script src="{{ url_for('static', filename='export-csv.js') }}"></script>
{{moment.include_moment()}}
<title>如意叉车监控系统</title>
</head>
    
<body >
<header   style="background-image: url(../static/bg.jpg)">
        <div class="container-fluid">

            <div class="col-md-4">
              <img src="static/logo.png" alt="ruyi" width="70px">
            </div>
                <div class="col-md-offset-10">
              <h3> 400 880 9355</h3> 
                </div>         

        </div>
    </header>


<div> 

    <nav class="navbar navbar-inverse">

      <div class="col-md-offset-1">

        <div  class="collapse navbar-collapse"  >

          <ul class="nav navbar-nav ">
<!--     <li > <a id="index" href="/" class="navbar-brand"> 首页</a> </li>  -->
    <li ><a id="onlinestate"  class="navbar-brand" href="/">在线设备</a> </li>
    <li><a id="todaywarn" class="navbar-brand" href="/todaywarn" >当日故障报警</a> </li>
    <li> <a id="historywarn" class="navbar-brand" href="/historywarn" >历史故障查询</a></li>
    <li > <a id="historystate" class="navbar-brand" href="/historystate" >历史状态查询</a></li>
    <li><a id="repair" class="navbar-brand" href="/repair" >维修保养记录</a>  </li>
    <li  class="active"><a id="warncount" class="navbar-brand" href="/warncount" >故障统计</a> </li>
    <li ><a id="changepassword" class="navbar-brand" href="auth/change-password" >修改密码</a> </li>
    {%if current_user.rank==1%}
    <li ><a id="usermanager" class="navbar-brand" href="usermanager">账号管理</a> </li>
    <li ><a id="register" class="navbar-brand" href="auth/register" >用户注册</a> </li>
    {%endif%}
    <li><a class="navbar-brand" href="{{ url_for('auth.logout') }}" >退出系统</a> </li>

          </ul>

         <ul class="nav navbar-nav navbar-right"> <li><a>用户：{{ current_user.username }} ({%if current_user.rank==1%}管理员{%else %}普通用户{% endif %})</a></li></ul>
        </div>
      </div>



    </nav>
</div>

<div class="container">
<div class="col-xs-12 col-sm-10 col-md-offset-1 col-lg-10 ">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4>故障统计  </h4>
                <h4 class="text-right"> {{moment(current_time).format('LLL')}}  </h4> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul id="myTab" class="nav nav-tabs">
                       <li class="active">
                          <a href="#singlepanel" data-toggle="tab">
                             单辆叉车统计
                          </a>
                       </li>
                       <li>
                       <a href="#datepanel" data-toggle="tab">
                       按出厂日期统计
                       </a>
                       </li>
                       <li>
                       <a href="#allpanel" data-toggle="tab">
                       所有故障分布统计
                       </a>
                       </li>
                      
                    </ul>

            </div>
            </div>
            <div class="panel-body">
          <div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="singlepanel">

    <form method="post" class="form" action="/warncount">

        <div class="row">
             <div class="col-lg-4">
             <div class="form-group  required">

             <label class="control-label" for="deviceid">叉车编号</label>
            <select class="form-control" id="textSelect" name="deviceid">
      {% for device in devices %}
      <option>{{device.id}}</option>
      {%endfor %}
    </select>
             </div>
             <div class="form-group  required">
              <label class="control-label" for="trucktype">故障车型</label>
              <select class="form-control" id="trucktype" name="trucktype"><option selected value="1">CBD20R-II</option><option value="2">其他</option></select>
              </div>
             </div>
        </div>

        <label class="control-label" >故障类型</label>
        <div>
        <label><input type="checkbox" id="singleall">全选</label>
        <label><input type="checkbox" id="singleuncheck">不选</label>
        <label><input type="checkbox" id="singleothercheck">反选</label>

        </div>
<div id="single">
               <table class="table ">  
  <tbody>
            <tr>

                     {% for key, value in errorDict|dictsort   %}
            <th>

               <label><input type="checkbox" value="{{key}}" name="s_option">({{key}}){{value}}</label>

                  </th >
            {%if loop.index%7==0 %}</tr><tr>{%endif%}

                  {%endfor %}

            </tr>
            </tbody>
            </table>
</div>
        <div class="col-lg-4">
            <div class="row">
           <input class="btn btn-default" id="submit" name="submit" type="submit" value="查询">
            </div>
          </div>
            </form>
<div id="singlechart"></div>
<script >
Highcharts.setOptions({
    lang: {
        printChart: '打印图表',
        downloadJPEG: '下载 JPEG 文件',
        downloadPDF: '下载 PDF   文件',
        downloadPNG: '下载 PNG  文件',
        downloadSVG: '下载 SVG  文件',
        downloadCSV: '下载 CSV  文件',
        downloadXLS: '下载 XLS   文件'
    },
    navigation: {
        menuItemStyle: {
            padding: '6px 14px'
        }
    },
    global: {
    useUTC: false
  },
  exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[0],
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[7]
                            ]
                }
            }
        }
});
  $(function () {
    $('#singlechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        exporting: {
        filename: '编号{{deviceid}}叉车故障统计 '

    },
        title: {
            text: '单辆叉车故障统计'
        },
        subtitle:{
            text:'叉车编号：{{deviceid}}'
        },
        tooltip: {
            pointFormat: '{series.name}:{point.y} <br>百分比： {point.percentage:.1f}% '
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        credits:{
     enabled:false // 禁用版权信息
},
        series: [{
            type: 'pie',
            name: '次数',
            data:{%if singlecount %}{{singlecount|tojson}}{%endif%}
        }]
    });
});

</script>
</div>

   <div class="tab-pane fade" id="datepanel">
    <form method="POST" class="form" action="/datecount">

        <div class="row">
             <div class="col-lg-4">
             <div class="form-group  required">
  <label class="control-label" for="begin">起始时间</label>
             <input class="form-control" id="deviceid" name="begin" type="date" value={{current_time}}>
             </div>
             <div class="form-group  required">
  <label class="control-label" for="end">结束时间</label>
             <input class="form-control" id="deviceid" name="end" type="date" value={{current_time}}>
              </div>
              <div class="form-group  required">
              <label class="control-label" for="trucktype">故障车型</label>
              <select class="form-control" id="trucktype" name="trucktype"><option selected value="1">CBD20R-II</option><option value="2">其他</option></select>

              </div>
             </div>
        </div>


                       <label class="control-label" >故障类型</label>
        <div >
        <label><input type="checkbox" id="dateall">全选</label>
        <label><input type="checkbox" id="dateuncheck">不选</label>
        <label><input type="checkbox" id="dateothercheck">反选</label>

        </div>
          <div id="date">
                         <table class="table ">  
             <tbody>
            <tr>

                     {% for key, value in errorDict|dictsort   %}
            <th>

               <label><input type="checkbox" value="{{key}}" name="s_option">({{key}}){{value}}</label>

                  </th>
            {%if loop.index%7==0 %}</tr><tr>{%endif%}

                  {%endfor %}

            </tr>
            </tbody>
            </table>
        </div>
<div class="col-lg-4">
            <div class="row">

            <input class="btn btn-default" id="submit" name="submit" type="submit" value="查询">

            </div>
            </div>
            </form>
<div id="datechart"></div>
<script >
Highcharts.setOptions({
    lang: {
        printChart: '打印图表',
        downloadJPEG: '下载 JPEG 文件',
        downloadPDF: '下载 PDF   文件',
        downloadPNG: '下载 PNG  文件',
        downloadSVG: '下载 SVG  文件',
        downloadCSV: '下载 CSV  文件',
        downloadXLS: '下载 XLS   文件'
    },
    navigation: {
        menuItemStyle: {
            padding: '6px 14px'
        }
    },
    global: {
    useUTC: false
  },
  exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[0],
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[7]
                            ]
                }
            }
        }
});
  $(function () {
    $('#datechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '按出厂日期故障统计'
        },
        subtitle:{
          text:'{{begin}}至{{end}}'
        }, 
        exporting: {
        filename: '出厂日期为{{begin}}至{{end}}叉车故障统计 '
    },
        tooltip: {
            pointFormat: '{series.name}:{point.y} <br>百分比： {point.percentage:.1f}% '
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        credits:{
     enabled:false // 禁用版权信息
},
        series: [{
            type: 'pie',
            name: '次数',
            data:{%if datecount %}{{datecount|tojson}}{%endif%}
        }]
    });
});  
</script>
   </div>



   <div class="tab-pane fade" id="allpanel">
<form method="POST" class="form" action="/allcount">

        <div class="row">
             <div class="col-lg-4">

             <div class="form-group  required">
         <label class="control-label" for="trucktype">故障车型</label>
              <select class="form-control" id="trucktype" name="trucktype"><option selected value="1">CBD20R-II</option><option value="2">其他</option></select>

              </div>
             </div>
        </div>


                       <label class="control-label" >故障类型</label>
        <div >
        <label><input type="checkbox" id="allall">全选</label>
        <label><input type="checkbox" id="alluncheck">不选</label>
        <label><input type="checkbox" id="allothercheck">反选</label>

        </div>
          <div id="all">
                         <table class="table ">  
      <tbody>
            <tr>

                     {% for key, value in errorDict|dictsort   %}
            <th>

               <label><input type="checkbox" value="{{key}}" name="s_option">({{key}}){{value}}</label>

                  </th>
            {%if loop.index%7==0 %}</tr><tr>{%endif%}

                  {%endfor %}

            </tr>
            </tbody>
            </table>
        </div>
<div class="col-lg-4">
            <div class="row">

           <input class="btn btn-default" id="submit" name="submit" type="submit" value="查询">

            </div>
            </div>
            </form>
<div id="allchart"></div>
<script >
Highcharts.setOptions({
    lang: {
        printChart: '打印图表',
        downloadJPEG: '下载 JPEG 文件',
        downloadPDF: '下载 PDF   文件',
        downloadPNG: '下载 PNG  文件',
        downloadSVG: '下载 SVG  文件',
        downloadCSV: '下载 CSV  文件',
        downloadXLS: '下载 XLS   文件'
    },
    navigation: {
        menuItemStyle: {
            padding: '6px 14px'
        }
    },
    global: {
    useUTC: false
  },
  exporting: {
            buttons: {
                contextButton: {
                    menuItems: [
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[0],
                                Highcharts.getOptions().exporting.buttons.contextButton.menuItems[7]
                            ]
                }
            }
        }
});
  $(function () {
    $('#allchart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '所有故障统计'
        },
exporting: {
        filename: '所有故障统计'
    },
        tooltip: {
            pointFormat: '{series.name}:{point.y} <br>百分比： {point.percentage:.1f}%  '
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        credits:{
     enabled:false // 禁用版权信息
},
        series: [{
            type: 'pie',
            name: '次数',
            data:{%if allcount %}{{allcount|tojson}}{%endif%}
        }]
    });
});   
</script>
   </div>
</div>
                
            </div>
    </div>
 </div>

 </div>

</body>
</html>
<script>
window.onload=function(){
    var singleCheckAll=document.getElementById('singleall');
    var singleUnCheck=document.getElementById('singleuncheck');
    var singleOtherCheck=document.getElementById('singleothercheck');
    var singlediv=document.getElementById('single');
    var singleCheckBox=singlediv.getElementsByTagName('input');

    var dateCheckAll=document.getElementById('dateall');
    var dateUnCheck=document.getElementById('dateuncheck');
    var dateOtherCheck=document.getElementById('dateothercheck');
    var datediv=document.getElementById('date');
    var dateCheckBox=datediv.getElementsByTagName('input');  

    var allCheckAll=document.getElementById('allall');
    var allUnCheck=document.getElementById('alluncheck');
    var allOtherCheck=document.getElementById('allothercheck');
    var alldiv=document.getElementById('all');
    var allCheckBox=alldiv.getElementsByTagName('input');  

    singleCheckAll.onclick=function(){
            for(i=0;i<singleCheckBox.length;i++){
                    singleCheckBox[i].checked=true;
                };
                singleUnCheck.checked=false;
                singleOtherCheck.checked=false;
        };
    singleUnCheck.onclick=function(){
            for(i=0;i<singleCheckBox.length;i++){
                    singleCheckBox[i].checked=false;
                };
            singleCheckAll.checked=false;
            singleOtherCheck.checked=false;

        };
    singleOtherCheck.onclick=function(){
            for(i=0;i<singleCheckBox.length;i++){
                    if(singleCheckBox[i].checked==true){
                            singleCheckBox[i].checked=false;
                        }
                    else{
                        singleCheckBox[i].checked=true
                        }
                      
                };
                  singleCheckAll.checked=false;
                  singleUnCheck.checked=false;
        };
    dateCheckAll.onclick=function(){
            for(i=0;i<dateCheckBox.length;i++){
                    dateCheckBox[i].checked=true;
                };
                dateUnCheck.checked=false;
                dateOtherCheck.checked=false;
        };
    dateUnCheck.onclick=function(){
            for(i=0;i<dateCheckBox.length;i++){
                    dateCheckBox[i].checked=false;
                };
            dateCheckAll.checked=false;
            dateOtherCheck.checked=false;
        };
    dateOtherCheck.onclick=function(){
            for(i=0;i<dateCheckBox.length;i++){
                    if(dateCheckBox[i].checked==true){
                            dateCheckBox[i].checked=false;
                        }
                    else{
                        dateCheckBox[i].checked=true
                        } 
                };
                  dateCheckAll.checked=false;
                  dateUnCheck.checked=false;
        };
    allCheckAll.onclick=function(){
            for(i=0;i<allCheckBox.length;i++){
                    allCheckBox[i].checked=true;
                };
                allUnCheck.checked=false;
                allOtherCheck.checked=false;
        };
    allUnCheck.onclick=function(){
            for(i=0;i<allCheckBox.length;i++){
                    allCheckBox[i].checked=false;
                };
            allCheckAll.checked=false;
            allOtherCheck.checked=false;
        };
    allOtherCheck.onclick=function(){
            for(i=0;i<allCheckBox.length;i++){
                    if(allCheckBox[i].checked==true){
                            allCheckBox[i].checked=false;
                        }
                    else{
                        allCheckBox[i].checked=true
                        } 
                };
                  allCheckAll.checked=false;
                  allUnCheck.checked=false;
        };
};
</script>





